:host {
  @apply relative h-full w-full flex;
  color: var(--pf-text-color);
}

.intro-container {
  @apply grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr;
}

.greet-hi {
  inset-inline-start: 0px;
  inset-block-start: 5%;
}

.intro-section {
  @apply flex justify-start z-1 w-full h-auto;
}

.intro-name {
  @apply leading-none;
  font-size: clamp(6rem, 10vw, 15vw);
  line-height: 0.8;
}


.background-images {
  @apply flex absolute top-[0px] left-[0px] h-full w-full;
}

.tech-stack-wrapper {
  @apply flex flex-col justify-end items-start overflow-hidden;
}

.intro-bg-icon {
}
