@let job = jobData();
<div class="project-container bg-color text-color p-5" #container>
  <div class="h-full justify-center flex flex-col gap-1 lg:gap-2">
    <!-- <h1 class="text-7xl opacity-40" #animatedText>0{{ job?.id }}</h1> -->
    <h1 class="project-name" #animatedText>{{ job?.projectName }}</h1>
    <h3 class="text-3xl opacity-60" #animatedWords>{{ job?.projectCategory }}</h3>
    <h5 class="text-4xl opacity-60" #animatedWords>{{ job?.role }}</h5>
    <h3 class="text-4xl opacity-60" #animatedWords>{{ job?.company }}</h3>
    <div class="tech-stacks-containers">
      @for (stack of job?.techStack; track stack) {
        <pf-tech-stack [name]="stack.name" [icon]="stack.icon" class="text-color bg-color px-2">
        </pf-tech-stack>
      }
    </div>
    <p class="w-10/12 lg:w-6/12 text-xl opacity-80">
      {{ job?.workDoneShortDescription }}
    </p>
  </div>
</div>
<div #projectYearText class="opacity-10 project-year-text text-color flex items-center font-[900]">
  <span class="flex gap-[5px]">
    {{ job?.yearStart }}
  </span>
  <span class="text-bolder">-</span>
  <span class="flex gap-[5px]">
    {{ job?.yearEnd }}
  </span>
</div>
