// .project-item-content {
//   transition-property: opacity;
//   transition-duration: 470ms;
//   transition-timing-function: var(--pf-transition);
// }
//
// .project-item-content-enter {
//   opacity: 1;
//   @starting-style {
//     opacity: 0;
//   }
// }
//
// .project-item-content-leave {
//   opacity: 0;
//   @starting-style {
//     opacity: 1;
//   }
// }
