:host {
  @apply fixed top-[0px] left-[0px] flex flex-col justify-center items-center overflow-hidden;
  width: var(--pf-w-screen);
  height: var(--pf-h-screen);
  background-color: var(--pf-bg-color);
}

.top-nav {
  @apply absolute top-[0px] left-[0px];
}

@keyframes mobileNavEnter {
  from {
    height: 0vh;
  }
  to {
    height: 100vh;
  }
}

@keyframes mobileNavLeave {
  from {
    height: 100vh;
  }
  to {
    height: 0vh;
  }
}

:host.mobile-nav-enter {
  animation: mobileNavEnter 800ms var(--pf-gsap-p2);
}

:host.mobile-nav-leave {
  animation: mobileNavLeave 800ms var(--pf-gsap-p2);
}
